@model List<Project_VP.Models.Product>

<h2>Product List</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>$@item.Price</td>
            <td>
                <form asp-action="AddToCart" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit">Add to Cart</button>
                </form>
            </td>
        </tr>
    }
</table>

<br />
<a href="/Home/Cart">View Cart</a>
